@charset "UTF-8";
h1{
  font-size: 1.75em;
  color: #3399cc;
}
h2{
  font-size: 1.25em;
  color:#3399cc;
}
p{
  font-size: 0.8em;
  color: #333333;
}
li{
  font-size: 0.8em;
  color: #333333;
}
h1 span{
  color: #d0e35b;
}
#lead{
  border-top: #6fbb9a 1px dotted;
  
  text-align: center;
}
. greeting{
  border-top: #6fbb9a 1px dotted;
  
  text-align: center;
}
body{
  background-color: #bf9cc; /* 背景色を変える */
  background-image: ur1( /img/KIMG0145.jpg);
  background-repeat: repeat-x; /* 横方向だけ繰り返し */
}
